#purchaseCard {
    border: 3px dotted black;
    border-radius: 10px;
    padding: 10px;
    background-color: beige;
}

#p1,
#p2,
#p3,
#p4 {
    margin-left: 40px;
}

#intro {
    font-weight: bold;
    font-size: 20px;
}

#order {
    font-weight: bold;
}

#chosenGame {
    font-weight: bold;
}

#resetButton {
    background-color: red;
    color: white;
}

li {
    color: blue
}

#viewHistory {
    color: blue
}